@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hides the scroll when input type is a number*/
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Remove line 26 to 49 if you don't want scrollbar */
/* Initial styles for scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* or any color you prefer */
}

/* Hide thumb by default */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px; /* Adjust as needed */
}

/* Show thumb on hover */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* or any color you prefer */
}

/* Change thumb color on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover if desired */
}